
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
		<div class="">
            <form id="formEnviarMsg">
                <div class="form-group ">
                    <input class="form-control col-sm-1" name="titulo" placeholder="Titulo" required>
                    <textarea class="form-control" name="mensagem" placeholder="Mensagem..." required></textarea>
                    <input name="funcao" value="enviarMensagem" hidden>
                    <button id="btnEnviarMsg" type="submit" class="btn-atualizar-2">Enviar Mensagem</button>
                </div>
            </form>
		  </div>
	  </div>
        <div id="telaMsg"></div>
	</section>

