
 <!-- Main content -->
 <div class="row">
	 <div class="content-center">
		 <img class="logo-login" src="../dist/img/logo-rendo.png" alt="logo" title="logo">
		 <form id="formCadastrarCliente">
			 <div class="form-group">
				 <input type="text" class="form-control" name="razao" placeholder="Razão Social ou Nome" maxlength="255" required>
				 <input type="text" class="form-control cnpj" name="cnpj" placeholder="CNPJ ou CPF" required>
				 <input type="email" class="form-control email" name="email" placeholder="E-mail" maxlength="255" required>
				 <input type="password" class="form-control" name="senha" placeholder="senha" required>
				 <input type="password" class="form-control" name="senha_confirmacao" placeholder="Senha" required>
				 <input name="funcao" value="cadastrarCliente" hidden>
				 <button type="submit" class="btn-atualizar btnCriarContaCliente">Criar Conta</button><br>
				 <button class="form-control btn-atualizar targetPage" dt-page="#pageLogin">Voltar</button>
			 </div>
		 </form>
	 </div>
 </div>