
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="pop-up" style="display: none">
            <img class="logo" src="../../dist/img/logo-circle-transparent.png" alt="99 Cargas" title="99 Cargas">
            <h3>Iniciar Transporte</h3><div class="clearfix"></div>
            <p>Está iniciando agora o Transporte?</p>
            <button type="submit" class="azul">SIM</button>
            <button type="submit" class="vermelho">NÃO</button>
        </div>
        <a class="targetPage" dt-page="#pageCargaTransportando"><div class="btn-inicio">
            <div class="icone">
                <i class="mdi mdi-highway mdi-24px mdi-light"></i>
            </div>
            <div class="texto">Carga em Transporte</div>

        </div></a>
        <a class="targetPage" dt-page="#pageCarga"><div class="btn-inicio">
                <div class="icone">
                    <i class="mdi mdi-truck-delivery mdi-24px mdi-light"></i>
                </div>

                <div class="texto">Ver Cargas Disponíveis</div>

            </div></a>
        <a class="targetPage" dt-page="#pageCargaTransportada"><div class="btn-inicio">
                <div class="icone">
                    <i class="mdi mdi-truck mdi-24px mdi-light"></i>
                </div>
                <div class="texto">Cargas Transportadas</div>

            </div></a>
        <a class="targetPage" dt-page="#pageAvisos"><div class="btn-inicio">
                <div class="icone">
                    <i class="mdi mdi-alert mdi-24px mdi-light"></i>
                </div>
                <div class="texto">Avisos</div>

            </div></a>
        <button class="btn-atualizar-2 targetPage" dt-page="#pageMensagem">Enviar Mensagem</button>
    </div>
</section>

<!-- template functions-->
<script src="../../assets/js/motorista/loads.js"></script>
<script src="../../assets/js/motorista/request_functions.js"></script>